.container {
    width: 50%;
    padding: 0.2em;
}

.video {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    box-shadow: 9px 9px 22px -16px rgba(0,0,0,0.73);
    cursor: pointer;
    transition: transform 250ms ease-in;
}

.video:hover {
    transform: scale(1.02);
}

.thumbnail {
    width: 40%;
    height: 100%;
}

.metadata {
    margin-left: .2em;
}

.title, .channel {
    margin: 0;
    font-size: .8rem;
}

.channel {
    font-size: .6rem;
}